.m-Chip-root {
    border-radius: 6px;

    &:hover {
        background: #f3f6fa;
        border-radius: 6px;
    }
}

.m-Chip-label {
    padding: 1rem;

    span {
        border-width: 0px;
        border-style: dashed;
        border-color: #115efb;
        border-bottom-width: 1px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
}

.m-Chip-label:not([data-disabled]) {
    color: #115efb;

    background: none;

    &:hover {
        background: transparent;
    }

    &:where([data-checked]) {
        color: var(--chip-color);

        background: #84adff;
        border-radius: 6px;
        border-bottom-width: 0px;

        span {
            border-bottom-width: 0px;
        }

        &:hover {
            background: #84adff;
            border-radius: 6px;
        }
    }
}

.m-Chip-iconWrapper {
    display: none;
}
