.page {
    display: flex;
    flex-direction: column;
    min-height: 65svh;
    width: 100%;

    position: relative;

    min-height: 65svh;
    padding: 0 17.3%;

    background-color: #f3f6fa;
}

.tabs {
    margin-top: 2rem;
    width: fit-content;
}
