.page {
    align-items: center;
    justify-items: center;
    min-height: 65svh;
    margin: 0 17.3%;
    gap: 64px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    grid-row-start: 2;
    max-width: 64svw;
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.subtract,
.stars {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
