.cardContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    /* max-width: 318px; */
    width: auto;
    height: fit-content;

    gap: 0.5rem;
    padding: 1rem;

    overflow: hidden;
}

.imageContainer {
    width: 392px;
    height: 320px;

    background: #f3f6fa;
    border-radius: 20px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.goodImage {
    width: max-content;
    height: max-content;
}

.price {
    /* Header 32 */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    /* Text/Dark */
    color: #000000;
}

.name {
    /* Header 32 */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */

    /* Text/Dark */
    color: #000000;
}

.rating {
    display: flex;
    justify-items: center;
    align-items: center;

    margin-top: 0.5rem;
}

.star {
    color: #ffec41;
}

.ratingText {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;

    color: #484848;

    width: 24px;
    height: 24px;

    margin-left: 0.25rem;
}

.button {
    /* Color 1 */
    background: #115efb;
    border-radius: 8px;

    /* Header 16 */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    color: #ffffff;
    width: fit-content;
}

.description {
    /* Paragraph 16 */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    display: flex;
    align-items: center;

    /* Text/Normal */
    color: #484848;
}
