.workText {
    /* Работаем 24/7 */

    width: 235px;
    height: 42px;

    /* Header 32 */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    /* identical to box height, or 42px */
    display: flex;
    align-items: center;

    /* Text/Dark */
    color: #000000;

    margin-bottom: 2rem;
}

.phoneIcon {
    fill: #000000;
}

.text {
    /* 8 (800) 678-34-24 */

    /* Header 24 */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    display: flex;
    align-items: center;

    /* Text/Dark */
    color: #000000;
    width: 100%;
}

.phone {
    width: max-content;
    /* Header 24 */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    display: flex;
    align-items: center;

    /* Text/Dark */
    color: #000000;
}
